# Actividad 2

In [18]:
import ttg

## Tablas de verdad

Escribe la tabla de verdad de los siguientes enunciados:

_Cada inciso vale 15 puntos_

$P \vee Q \implies R$

In [20]:
ttg.Truths(['P', 'Q', 'R'], ['(P or Q) => R'], ints=False).as_pandas()

       P      Q      R (P or Q) => R
1   True   True   True          True
2   True   True  False         False
3   True  False   True          True
4   True  False  False         False
5  False   True   True          True
6  False   True  False         False
7  False  False   True          True
8  False  False  False          True

$\neg P \implies Q$

In [24]:
ttg.Truths(['P', 'Q'], ['~P => Q'], ints=False).as_pandas()

       P      Q ~P implies Q
1   True   True         True
2   True  False         True
3  False   True         True
4  False  False        False

Demuestra que $\neg (P \vee Q) \equiv \neg P \wedge \neg Q$

In [25]:
ttg.Truths(['P', 'Q'],['~(P or Q)', '~P and ~Q'], ints=False).as_pandas()

       P      Q ~(P or Q) ~P and ~Q
1   True   True     False     False
2   True  False     False     False
3  False   True     False     False
4  False  False      True      True

Demuestra que $\neg P \vee Q \equiv P \implies Q$

In [27]:
ttg.Truths(['P', 'Q'], ['~P or Q', 'P => Q'], ints=False).as_pandas()

       P      Q ~P or Q P => Q
1   True   True    True   True
2   True  False   False  False
3  False   True    True   True
4  False  False    True   True

Usando sólo $\vee, \wedge$ y $\neg$, reformula el enunciado $P \iff Q$

In [33]:
%%latex

\begin{align*}
P \iff Q \quad \equiv & \quad (P \implies Q) \wedge (Q \implies P) \tag*{Por definición} \\
(P \implies Q) \wedge (Q \implies P) \quad \equiv & \quad (\neg P \vee Q) \wedge (\neg Q \vee P)  \tag*{Por implicación material}\\
\blacksquare
\end{align*}